@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  font-family: "微軟正黑體";
}

ol, ul {
  list-style: none;
  box-sizing: border-box;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  cursor: pointer;
  outline: none;
  border: none;
  padding: 0px;
  font-family: "微軟正黑體";
}

select, input {
  outline: none;
  box-sizing: border-box;
  font-family: "微軟正黑體";
}

main {
  display: block;
}

a {
  outline: none;
  text-decoration: none;
}

html {
  width: 100%;
  height: 100%;
  background: #ffdd00;
}
html body {
  width: 100%;
  min-width: 1280px;
  height: auto;
  position: relative;
}
html body::-webkit-scrollbar {
  width: 5px;
  height: 15px;
}
html body::-webkit-scrollbar-thumb {
  background: #000000;
  border-radius: 30px;
}
html body::-webkit-scrollbar-track {
  background: #ffdd00;
}
html body header {
  width: 100%;
  min-width: 1280px;
  height: 120px;
  background: #ffa200;
  box-shadow: 0px -1px 5px #00000085 inset;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 30;
}
html body header article {
  width: 1460px;
  height: 100%;
  float: right;
}
html body header article .top {
  width: auto;
  height: 50px;
  float: right;
}
html body header article .top .dicoration {
  float: right;
}
html body header article .top .dicoration.d1 {
  width: 267px;
  height: 50px;
  top: 0px;
  right: 0px;
  background: url("../imgaes/headerDec_1.png") no-repeat;
}
html body header article .top .dicoration.d2 {
  width: auto;
  height: 50px;
}
html body header article .top .dicoration.d2 div {
  float: left;
}
html body header article .top .dicoration.d2 div:nth-of-type(1) {
  width: 59px;
  height: 100%;
  background: url("../imgaes/headerDec_2-1.png") no-repeat;
}
html body header article .top .dicoration.d2 div:nth-of-type(2) {
  width: 351px;
  height: 100%;
  background: url("../imgaes/headerDec_2-2.png");
}
html body header article .top .dicoration.d2 div:nth-of-type(3) {
  width: 39px;
  height: 100%;
  background: url("../imgaes/headerDec_2-3.png") no-repeat;
}
html body header article .top .accountSpace {
  width: auto;
  height: 100%;
  float: right;
}
html body header article .top .accountSpace .inputBox {
  display: inline-block;
  width: auto;
  height: 100%;
  line-height: 50px;
}
html body header article .top .accountSpace .inputBox:nth-child(2) {
  margin-left: 10px;
}
html body header article .top .accountSpace .inputBox span {
  color: #5c0210;
  font-size: 15px;
  font-weight: bold;
  padding-right: 5px;
}
html body header article .top .accountSpace .inputBox input {
  width: 160px;
  height: 24px;
  border-radius: 10px;
  border: none;
  box-shadow: 2px 3px 5px 0px #00000085 inset;
  padding-left: 10px;
  font-size: 14px;
  color: #5c0210;
}
html body header article .top .accountSpace button {
  width: auto;
  height: auto;
  background: #fad900;
  border-radius: 10px;
  border-style: solid;
  border-width: 1px 0px 0px 1px;
  border-color: #ffffff;
  box-shadow: 1px 2px 1px 0px #db9500;
}
html body header article .top .accountSpace button:nth-of-type(1) {
  color: #000000;
  padding: 1px 13px 2px;
  font-size: 15px;
  font-weight: bold;
  margin-left: 5px;
}
html body header article .top .accountSpace button:nth-of-type(2) {
  color: #4d2d11;
  padding: 1px 8px 2px;
  font-size: 15px;
  margin-left: 10px;
}
html body header article .top .accountSpace button:hover, html body header article .top .accountSpace button:active, html body header article .top .accountSpace button.active {
  border-color: #af9700 transparent transparent #af9700;
  box-shadow: 1px 2px 3px #00000030 inset;
  color: #5b0210;
}
html body header article .top .accountSpace a {
  position: relative;
  margin: 0px 10px 0px 27px;
}
html body header article .top .accountSpace a:hover::before, html body header article .top .accountSpace a:active::before, html body header article .top .accountSpace a.active::before {
  background-position-y: 100%;
}
html body header article .top .accountSpace a:hover span, html body header article .top .accountSpace a:active span, html body header article .top .accountSpace a.active span {
  color: #ff0000;
}
html body header article .top .accountSpace a::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -23px;
  width: 19px;
  height: 19px;
  background: url("../imgaes/question.png") no-repeat;
}
html body header article .top .accountSpace a span {
  text-decoration: underline;
  color: #ffffff;
  font-size: 14px;
}
html body header article .top .accountSpace label {
  display: inline-block;
  width: auto;
  height: 23px;
  background: #fad900;
  border-radius: 20px;
  border-style: solid;
  border-width: 1px 0px 0px 1px;
  border-color: #ffffff;
  box-shadow: 1px 2px 1px 0px #db9500;
  position: relative;
}
html body header article .top .accountSpace label::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 12px;
  width: 12px;
  height: 7px;
  background: url("../imgaes/arrow_d_brown.png") no-repeat;
  pointer-events: none;
}
html body header article .top .accountSpace label:hover, html body header article .top .accountSpace label:active, html body header article .top .accountSpace label.active {
  border-color: #af9700 transparent transparent #af9700;
  box-shadow: 1px 2px 3px #00000030 inset;
}
html body header article .top .accountSpace label select {
  width: 100%;
  height: 100%;
  background: none;
  border: none;
  -webkit-appearance: none;
          appearance: none;
  padding: 0px 25px 0px 10px;
  color: #5b0210;
  font-size: 16px;
  cursor: pointer;
}
html body header article .top .accountSpace label select option {
  background: #fad900;
}
html body header article .bottom {
  width: auto;
  height: 70px;
  float: right;
}
html body header article .bottom ul {
  width: auto;
  height: 100%;
  padding-right: 110px;
  margin-right: 20px;
}
html body header article .bottom ul li {
  display: inline-block;
  width: 126px;
  height: 100%;
}
html body header article .bottom ul li:hover a span, html body header article .bottom ul li:active a span, html body header article .bottom ul li.active a span {
  animation: wordBox 0.3s ease-out 0s;
  background: url("../imgaes/wordBox.png") no-repeat;
  background-size: 100%;
  color: #000000;
}
html body header article .bottom ul li a {
  display: block;
  width: 100%;
  height: 90%;
  text-align: center;
  position: relative;
}
html body header article .bottom ul li a span {
  position: absolute;
  width: 90%;
  height: 58px;
  line-height: 58px;
  font-size: 18px;
  font-weight: bold;
  color: #5a0211;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
html body header .logo {
  width: 205px;
  height: 100px;
  background: url("../imgaes/logo.png") no-repeat;
  background-size: 100%;
  margin-top: 10px;
  float: right;
  cursor: pointer;
}
html body main {
  width: 100%;
  height: auto;
  padding-top: 120px;
}
html body main .single-item {
  width: 100%;
  height: auto;
  margin-bottom: 0px !important;
}
html body main .single-item a {
  outline: none;
}
html body main .single-item a:hover .img div.mainWord_1, html body main .single-item a:hover .img div.mainWord_2, html body main .single-item a:active .img div.mainWord_1, html body main .single-item a:active .img div.mainWord_2, html body main .single-item a.active .img div.mainWord_1, html body main .single-item a.active .img div.mainWord_2 {
  opacity: 1;
}
html body main .single-item a.slick-active .img div.mainWord_1 {
  opacity: 1;
  animation: bannerWordJump_1 5s linear 0.2s;
}
html body main .single-item a.slick-active .img div.mainWord_1::before {
  animation: bannerWordJump_1-2 0.5s ease-out 0.8s;
}
html body main .single-item a.slick-active .img div.mainWord_2 {
  opacity: 1;
  animation: bannerWordJump_2 5s ease-out 0s;
}
html body main .single-item a.slick-active .img div.people_1 {
  opacity: 1;
  animation: people_1 5s linear 0s;
}
html body main .single-item a.slick-active .img div.people_2 {
  opacity: 1;
  animation: people_2 5s linear 0s;
}
html body main .single-item a.slick-active .img div.word_1 {
  animation: word_1 2.5s ease-out 3s infinite;
}
html body main .single-item a.slick-active .img div.word_2 {
  opacity: 1;
  animation: word_2 5s linear 0s;
}
html body main .single-item a.slick-active .img div.word_3 {
  animation: word_3 2.5s ease-out 3s infinite;
}
html body main .single-item a.slick-active .img div.word_4 {
  opacity: 1;
  animation: word_4 5s linear 0s;
}
html body main .single-item a.slick-active .img div.word_5 {
  opacity: 1;
  animation: word_4 5s linear 0s;
}
html body main .single-item a .img {
  width: 100%;
  height: auto;
  padding-bottom: 25.521%;
  background: url("../imgaes/banner/bannerBase.png") no-repeat;
  background-size: 100%;
  position: relative;
  overflow: hidden;
}
html body main .single-item a .img div {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: auto;
  padding-bottom: 25.521%;
}
html body main .single-item a .img div.mainWord_1 {
  opacity: 0;
  background: url("../imgaes/banner/bannerMainWord_1.png") no-repeat;
  background-size: 100%;
  z-index: 10;
}
html body main .single-item a .img div.mainWord_1::before {
  opacity: 0;
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: url("../imgaes/banner/bannerMainWord_1.png") no-repeat;
  background-size: 100%;
}
html body main .single-item a .img div.mainWord_2 {
  opacity: 0;
  background: url("../imgaes/banner/bannerMainWord_2.png") no-repeat;
  background-size: 100%;
}
html body main .single-item a .img div.mainWord_3 {
  background: url("../imgaes/banner/bannerMainWord_3.png") no-repeat;
  background-size: 100%;
}
html body main .single-item a .img div.people_1 {
  opacity: 0;
  background: url("../imgaes/banner/bannerPeople_1.png") no-repeat;
  background-size: 100%;
  z-index: 9;
}
html body main .single-item a .img div.people_2 {
  opacity: 0;
  background: url("../imgaes/banner/bannerPeople_2.png") no-repeat;
  background-size: 100%;
  z-index: 9;
}
html body main .single-item a .img div.word_1 {
  opacity: 0;
  background: url("../imgaes/banner/bannerRightWord_1.png") no-repeat;
  background-size: 100%;
}
html body main .single-item a .img div.word_2 {
  opacity: 0;
  background: url("../imgaes/banner/bannerRightWord_2.png") no-repeat;
  background-size: 100%;
}
html body main .single-item a .img div.word_3 {
  opacity: 0;
  background: url("../imgaes/banner/bannerleftWord_1.png") no-repeat;
  background-size: 100%;
}
html body main .single-item a .img div.word_4 {
  opacity: 0;
  background: url("../imgaes/banner/bannerleftWord_2.png") no-repeat;
  background-size: 100%;
}
html body main .single-item a .img div.word_5 {
  opacity: 0;
  background: url("../imgaes/banner/bannerleftWord_3.png") no-repeat;
  background-size: 100%;
}
html body main .single-item .slick-dots {
  bottom: 20px;
}
html body main .single-item .slick-dots li {
  margin: 0px 10px;
}
html body main .single-item .slick-dots li button:before {
  content: "";
  width: 17px;
  height: 17px;
  background-color: #ffffff;
  opacity: 1;
  transform: rotate(45deg);
}
html body main .single-item .slick-dots li.slick-active button:before {
  width: 17px;
  height: 17px;
  opacity: 1;
  background-color: #45fffd;
}
html body main .rightIcon {
  width: auto;
  height: auto;
  position: fixed;
  right: 0px;
  top: 200px;
  z-index: 20;
}
html body main .rightIcon a {
  display: block;
  position: absolute;
  width: 92px;
  height: 131px;
  right: 0px;
}
html body main .rightIcon a:hover::before, html body main .rightIcon a:active::before, html body main .rightIcon a.active::before {
  animation: rightHover_2 0.3s linear 0s;
}
html body main .rightIcon a:hover::after, html body main .rightIcon a:active::after, html body main .rightIcon a.active::after {
  left: 48%;
  background-position-y: 100%;
  animation: rightHover_1 0.3s linear 0s;
  transform: translate(-50%, -50%) scale(1);
}
html body main .rightIcon a::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 34px;
  width: 39px;
  height: 34px;
  background: url("../imgaes/rightIconImg.png") no-repeat;
  background-size: 300%;
  z-index: 2;
}
html body main .rightIcon a::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 51%;
  width: 100%;
  height: 100%;
  background: url(../imgaes/rightIconBox.png) no-repeat;
  background-size: 100%;
  transform: translate(-50%, -50%) scale(0.9);
}
html body main .rightIcon a:nth-of-type(1) {
  top: 0px;
}
html body main .rightIcon a:nth-of-type(2) {
  top: 105px;
}
html body main .rightIcon a:nth-of-type(2)::before {
  background-position-x: 50%;
}
html body main .rightIcon a:nth-of-type(3) {
  top: 210px;
}
html body main .rightIcon a:nth-of-type(3)::before {
  background-position-x: 100%;
}
html body main .download {
  position: fixed;
  display: block;
  width: 76px;
  height: 230px;
  left: 0px;
  top: 260px;
  background: url("../imgaes/downloadBox.png") no-repeat;
  background-size: 100%;
  z-index: 20;
}
html body main .download:hover, html body main .download:active, html body main .download.active {
  background-position-y: 100%;
  animation: leftDownload 0.3s linear 0s;
}
html body main .download span {
  display: block;
  width: 25px;
  height: 25px;
  background: url("../imgaes/downloadIcon.png") no-repeat;
  margin: 50px auto 10px;
}
html body main .download p {
  writing-mode: vertical-lr;
  font-weight: bold;
  color: #000000;
  font-size: 20px;
  letter-spacing: 3px;
  margin: 0px auto;
}
html body main .mainBox {
  width: 100%;
  height: auto;
  position: relative;
  padding-top: 30px;
}
html body main .mainBox article {
  width: 1480px;
  height: auto;
  margin: 0px auto;
}
html body main .mainBox article .marqueeBox {
  width: 1400px;
  height: auto;
  margin: 0px auto;
}
html body main .mainBox article .marqueeBox span {
  display: inline-block;
  width: 35px;
  height: 30px;
  background: url("../imgaes/marqueeIcon.png") no-repeat;
  animation: marqueeJump 5s linear 0s;
}
html body main .mainBox article .marqueeBox .marqueeBg {
  display: inline-block;
  position: relative;
  width: 96%;
  height: 33px;
  box-sizing: border-box;
  padding: 0px 17px 0px 37px;
  animation: marqueeSlide_1 5s linear 0s;
}
html body main .mainBox article .marqueeBox .marqueeBg::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 37px;
  height: 100%;
  background: url("../imgaes/marqueeBody_1.png") no-repeat;
}
html body main .mainBox article .marqueeBox .marqueeBg::after {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  width: 17px;
  height: 100%;
  background: url("../imgaes/marqueeBody_3.png") no-repeat;
}
html body main .mainBox article .marqueeBox .marqueeBg marquee {
  width: 100%;
  height: auto;
  color: #f9f9f9;
  line-height: 33px;
  background: url("../imgaes/marqueeBody_2.png");
  font-size: 16px;
}
html body main .mainBox article .mainPage {
  width: 100%;
  height: auto;
  margin-top: 50px;
  position: relative;
}
html body main .mainBox article .mainPage .imgBox {
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  padding-bottom: 50px;
}
html body main .mainBox article .mainPage .imgBox.slide li:nth-of-type(1) {
  animation: mainImgShow_1 5s ease-out 0s;
}
html body main .mainBox article .mainPage .imgBox.slide li:nth-of-type(2) {
  animation: mainImgShow_2 5s ease-out 0s;
}
html body main .mainBox article .mainPage .imgBox.slide li:nth-of-type(3) {
  animation: mainImgShow_3 5s ease-out 0s;
}
html body main .mainBox article .mainPage .imgBox.slide li:nth-of-type(4) {
  animation: mainImgShow_4 5s ease-out 0s;
}
html body main .mainBox article .mainPage .imgBox.slide li:nth-of-type(5) {
  animation: mainImgShow_5 5s ease-out 0s;
}
html body main .mainBox article .mainPage .imgBox.slide li:nth-of-type(6) {
  animation: mainImgShow_6 5s ease-out 0s;
}
html body main .mainBox article .mainPage .imgBox.slide li:nth-of-type(7) {
  animation: mainImgShow_7 5s ease-out 0s;
}
html body main .mainBox article .mainPage .imgBox.slide li:nth-of-type(8) {
  animation: mainImgShow_8 5s ease-out 0s;
}
html body main .mainBox article .mainPage .imgBox li {
  width: 100%;
  height: auto;
  padding-bottom: 45%;
  position: relative;
  transition: 0.3s all;
  opacity: 0;
}
html body main .mainBox article .mainPage .imgBox li:nth-of-type(1) .imgLink {
  -webkit-clip-path: polygon(30% 0%, 72% 1%, 90.5% 19%, 93% 58%, 90% 59%, 59% 91%, 45% 91%, 42.5% 101%, 28% 90%, 6% 89%, 9% 18%);
          clip-path: polygon(30% 0%, 72% 1%, 90.5% 19%, 93% 58%, 90% 59%, 59% 91%, 45% 91%, 42.5% 101%, 28% 90%, 6% 89%, 9% 18%);
}
html body main .mainBox article .mainPage .imgBox li:nth-of-type(1) .imgLink:hover .m1, html body main .mainBox article .mainPage .imgBox li:nth-of-type(1) .imgLink:active .m1, html body main .mainBox article .mainPage .imgBox li:nth-of-type(1) .imgLink.active .m1 {
  animation: mainImgHover_1-1 5s linear 0s infinite;
}
html body main .mainBox article .mainPage .imgBox li:nth-of-type(1) .imgLink:hover .m2, html body main .mainBox article .mainPage .imgBox li:nth-of-type(1) .imgLink:active .m2, html body main .mainBox article .mainPage .imgBox li:nth-of-type(1) .imgLink.active .m2 {
  animation: mainImgHover_1-2 5s linear 0s infinite;
}
html body main .mainBox article .mainPage .imgBox li:nth-of-type(1) .imgLink .m1 {
  width: 130%;
  padding-bottom: 135%;
  background: url("../imgaes/mainImg/mainImg_1-1.png") no-repeat;
  background-size: 100%;
  left: 0px;
  top: 25%;
}
html body main .mainBox article .mainPage .imgBox li:nth-of-type(1) .imgLink .m2 {
  width: 104%;
  padding-bottom: 118%;
  background: url("../imgaes/mainImg/mainImg_1-2.png") no-repeat;
  background-size: 100%;
  left: 30%;
  top: 48%;
}
html body main .mainBox article .mainPage .imgBox li:nth-of-type(2) .img {
  background-position-x: 12.5%;
}
html body main .mainBox article .mainPage .imgBox li:nth-of-type(2) .imgLink {
  -webkit-clip-path: polygon(31% 1.5%, 53% 1.5%, 85% 9%, 85.5% 69%, 80.5% 72.5%, 84% 93%, 67% 92%, 64% 100%, 53% 92%, 20% 90%, 23.5% 61%, 16% 57%, 15% 4%);
          clip-path: polygon(31% 1.5%, 53% 1.5%, 85% 9%, 85.5% 69%, 80.5% 72.5%, 84% 93%, 67% 92%, 64% 100%, 53% 92%, 20% 90%, 23.5% 61%, 16% 57%, 15% 4%);
}
html body main .mainBox article .mainPage .imgBox li:nth-of-type(2) .imgLink:hover .m1, html body main .mainBox article .mainPage .imgBox li:nth-of-type(2) .imgLink:active .m1, html body main .mainBox article .mainPage .imgBox li:nth-of-type(2) .imgLink.active .m1 {
  animation: mainImgHover_2-1 3s linear 0s infinite;
}
html body main .mainBox article .mainPage .imgBox li:nth-of-type(2) .imgLink:hover .m2, html body main .mainBox article .mainPage .imgBox li:nth-of-type(2) .imgLink:active .m2, html body main .mainBox article .mainPage .imgBox li:nth-of-type(2) .imgLink.active .m2 {
  animation: mainImgHover_2-2 3s linear 0s infinite;
}
html body main .mainBox article .mainPage .imgBox li:nth-of-type(2) .imgLink .logo {
  background-position-x: 12.5%;
}
html body main .mainBox article .mainPage .imgBox li:nth-of-type(2) .imgLink .m1 {
  width: 123%;
  padding-bottom: 140%;
  background: url("../imgaes/mainImg/mainImg_2-1.png") no-repeat;
  background-size: 100%;
  top: 20%;
  left: 6%;
}
html body main .mainBox article .mainPage .imgBox li:nth-of-type(2) .imgLink .m2 {
  width: 220%;
  padding-bottom: 156%;
  background: url("../imgaes/mainImg/mainImg_2-2.png") no-repeat;
  background-size: 100%;
  top: 44%;
  left: -4%;
}
html body main .mainBox article .mainPage .imgBox li:nth-of-type(3) .img {
  background-position-x: 25%;
}
html body main .mainBox article .mainPage .imgBox li:nth-of-type(3) .imgLink {
  -webkit-clip-path: polygon(38% 1.5%, 73% 2.5%, 92% 10%, 91% 43%, 96% 43%, 95.5% 62%, 82% 70%, 82% 88%, 57% 89.5%, 54% 100%, 39% 91%, 8% 92.5%, 5.5% 54.5%, 4.7% 53%, 4% 8%);
          clip-path: polygon(38% 1.5%, 73% 2.5%, 92% 10%, 91% 43%, 96% 43%, 95.5% 62%, 82% 70%, 82% 88%, 57% 89.5%, 54% 100%, 39% 91%, 8% 92.5%, 5.5% 54.5%, 4.7% 53%, 4% 8%);
}
html body main .mainBox article .mainPage .imgBox li:nth-of-type(3) .imgLink:hover .m1, html body main .mainBox article .mainPage .imgBox li:nth-of-type(3) .imgLink:active .m1, html body main .mainBox article .mainPage .imgBox li:nth-of-type(3) .imgLink.active .m1 {
  animation: mainImgHover_3 5s linear 0s infinite;
}
html body main .mainBox article .mainPage .imgBox li:nth-of-type(3) .imgLink .logo {
  background-position-x: 25%;
}
html body main .mainBox article .mainPage .imgBox li:nth-of-type(3) .imgLink .m1 {
  width: 110%;
  padding-bottom: 156%;
  background: url("../imgaes/mainImg/mainImg_3.png") no-repeat;
  background-size: 100%;
  top: 29%;
  left: -5%;
}
html body main .mainBox article .mainPage .imgBox li:nth-of-type(4) .img {
  background-position-x: 37.5%;
}
html body main .mainBox article .mainPage .imgBox li:nth-of-type(4) .imgLink {
  -webkit-clip-path: polygon(33% 4%, 60% 4%, 88% 8%, 87% 35%, 95% 38%, 97% 97%, 70% 94%, 57.5% 100%, 55% 92.5%, 20% 89%, 18% 68.7%, 5% 65%, 4% 10%);
          clip-path: polygon(33% 4%, 60% 4%, 88% 8%, 87% 35%, 95% 38%, 97% 97%, 70% 94%, 57.5% 100%, 55% 92.5%, 20% 89%, 18% 68.7%, 5% 65%, 4% 10%);
}
html body main .mainBox article .mainPage .imgBox li:nth-of-type(4) .imgLink:hover .m1, html body main .mainBox article .mainPage .imgBox li:nth-of-type(4) .imgLink:active .m1, html body main .mainBox article .mainPage .imgBox li:nth-of-type(4) .imgLink.active .m1 {
  animation: mainImgHover_4 3s linear 0s infinite;
}
html body main .mainBox article .mainPage .imgBox li:nth-of-type(4) .imgLink .logo {
  background-position-x: 37.5%;
}
html body main .mainBox article .mainPage .imgBox li:nth-of-type(4) .imgLink .m1 {
  width: 187%;
  padding-bottom: 300%;
  background: url("../imgaes/mainImg/mainImg_4.png") no-repeat;
  background-size: 100%;
  top: 18%;
  left: -53%;
}
html body main .mainBox article .mainPage .imgBox li:nth-of-type(5) .img {
  background-position-x: 50%;
}
html body main .mainBox article .mainPage .imgBox li:nth-of-type(5) .imgLink {
  -webkit-clip-path: polygon(29% 4%, 76% 2%, 94% 7%, 94% 66%, 97% 90.5%, 66% 89.5%, 59.5% 101%, 45% 89%, 22% 88%, 23% 69.5%, 16% 66.5%, 16% 36%, 1% 30%, 2% 10%);
          clip-path: polygon(29% 4%, 76% 2%, 94% 7%, 94% 66%, 97% 90.5%, 66% 89.5%, 59.5% 101%, 45% 89%, 22% 88%, 23% 69.5%, 16% 66.5%, 16% 36%, 1% 30%, 2% 10%);
}
html body main .mainBox article .mainPage .imgBox li:nth-of-type(5) .imgLink:hover .m1, html body main .mainBox article .mainPage .imgBox li:nth-of-type(5) .imgLink:active .m1, html body main .mainBox article .mainPage .imgBox li:nth-of-type(5) .imgLink.active .m1 {
  animation: mainImgHover_5 3s linear 0s infinite;
}
html body main .mainBox article .mainPage .imgBox li:nth-of-type(5) .imgLink .logo {
  background-position-x: 50%;
}
html body main .mainBox article .mainPage .imgBox li:nth-of-type(5) .imgLink .m1 {
  width: 147%;
  padding-bottom: 300%;
  background: url("../imgaes/mainImg/mainImg_5.png") no-repeat;
  background-size: 100%;
  top: 18%;
  left: -6%;
}
html body main .mainBox article .mainPage .imgBox li:nth-of-type(5) .imgLink button {
  left: 57%;
}
html body main .mainBox article .mainPage .imgBox li:nth-of-type(6) .img {
  background-position-x: 62.5%;
}
html body main .mainBox article .mainPage .imgBox li:nth-of-type(6) .imgLink {
  -webkit-clip-path: polygon(43% 3%, 68% 2%, 93% 7%, 93% 71%, 91% 88%, 67% 88.3%, 57% 100%, 50% 89.2%, 27% 91%, 7% 81%, 6% 18%);
          clip-path: polygon(43% 3%, 68% 2%, 93% 7%, 93% 71%, 91% 88%, 67% 88.3%, 57% 100%, 50% 89.2%, 27% 91%, 7% 81%, 6% 18%);
}
html body main .mainBox article .mainPage .imgBox li:nth-of-type(6) .imgLink:hover .m1, html body main .mainBox article .mainPage .imgBox li:nth-of-type(6) .imgLink:active .m1, html body main .mainBox article .mainPage .imgBox li:nth-of-type(6) .imgLink.active .m1 {
  animation: mainImgHover_6-1 3s linear 0s infinite;
}
html body main .mainBox article .mainPage .imgBox li:nth-of-type(6) .imgLink:hover .m2, html body main .mainBox article .mainPage .imgBox li:nth-of-type(6) .imgLink:active .m2, html body main .mainBox article .mainPage .imgBox li:nth-of-type(6) .imgLink.active .m2 {
  animation: mainImgHover_6-2 3s linear 0s infinite;
}
html body main .mainBox article .mainPage .imgBox li:nth-of-type(6) .imgLink .logo {
  background-position-x: 62.5%;
}
html body main .mainBox article .mainPage .imgBox li:nth-of-type(6) .imgLink .m1 {
  width: 160%;
  padding-bottom: 200%;
  background: url("../imgaes/mainImg/mainImg_6-1.png") no-repeat;
  background-size: 100%;
  top: 37%;
  left: -30%;
  z-index: 2;
}
html body main .mainBox article .mainPage .imgBox li:nth-of-type(6) .imgLink .m2 {
  width: 100%;
  padding-bottom: 117%;
  background: url("../imgaes/mainImg/mainImg_6-2.png") no-repeat;
  background-size: 100%;
  top: 17%;
  left: -2%;
}
html body main .mainBox article .mainPage .imgBox li:nth-of-type(7) .img {
  background-position-x: 75%;
}
html body main .mainBox article .mainPage .imgBox li:nth-of-type(7) .imgLink {
  -webkit-clip-path: polygon(37% 4%, 60% 4%, 92% 10%, 90% 90%, 57% 91%, 62% 100%, 41% 91%, 24% 92%, 10% 81%, 9% 8.5%);
          clip-path: polygon(37% 4%, 60% 4%, 92% 10%, 90% 90%, 57% 91%, 62% 100%, 41% 91%, 24% 92%, 10% 81%, 9% 8.5%);
}
html body main .mainBox article .mainPage .imgBox li:nth-of-type(7) .imgLink:hover .m1, html body main .mainBox article .mainPage .imgBox li:nth-of-type(7) .imgLink:active .m1, html body main .mainBox article .mainPage .imgBox li:nth-of-type(7) .imgLink.active .m1 {
  animation: mainImgHover_7-1 5s linear 0s infinite;
}
html body main .mainBox article .mainPage .imgBox li:nth-of-type(7) .imgLink:hover .m2, html body main .mainBox article .mainPage .imgBox li:nth-of-type(7) .imgLink:active .m2, html body main .mainBox article .mainPage .imgBox li:nth-of-type(7) .imgLink.active .m2 {
  animation: mainImgHover_7-2 5s linear 0s infinite;
}
html body main .mainBox article .mainPage .imgBox li:nth-of-type(7) .imgLink .logo {
  background-position-x: 75%;
}
html body main .mainBox article .mainPage .imgBox li:nth-of-type(7) .imgLink .m1 {
  width: 360%;
  padding-bottom: 300%;
  background: url("../imgaes/mainImg/mainImg_7-1.png") no-repeat;
  background-size: 100%;
  top: 35%;
  left: -173%;
  z-index: 2;
}
html body main .mainBox article .mainPage .imgBox li:nth-of-type(7) .imgLink .m2 {
  width: 380%;
  padding-bottom: 277%;
  background: url("../imgaes/mainImg/mainImg_7-2.png") no-repeat;
  background-size: 100%;
  top: -17%;
  left: -62%;
}
html body main .mainBox article .mainPage .imgBox li:nth-of-type(8) .img {
  background-position-x: 87.5%;
}
html body main .mainBox article .mainPage .imgBox li:nth-of-type(8) .imgLink {
  -webkit-clip-path: polygon(21% 3%, 58% 3%, 98% 11%, 97% 96%, 41% 94%, 28% 100%, 34% 94%, 14% 93%, 13% 47%, 2% 41%, 2% 8%);
          clip-path: polygon(21% 3%, 58% 3%, 98% 11%, 97% 96%, 41% 94%, 28% 100%, 34% 94%, 14% 93%, 13% 47%, 2% 41%, 2% 8%);
}
html body main .mainBox article .mainPage .imgBox li:nth-of-type(8) .imgLink:hover .m1, html body main .mainBox article .mainPage .imgBox li:nth-of-type(8) .imgLink:active .m1, html body main .mainBox article .mainPage .imgBox li:nth-of-type(8) .imgLink.active .m1 {
  animation: mainImgHover_8-1 5s linear 0s infinite;
}
html body main .mainBox article .mainPage .imgBox li:nth-of-type(8) .imgLink:hover .m1::before, html body main .mainBox article .mainPage .imgBox li:nth-of-type(8) .imgLink:active .m1::before, html body main .mainBox article .mainPage .imgBox li:nth-of-type(8) .imgLink.active .m1::before {
  animation: mainImgHover_8-3 5s linear 0s infinite;
}
html body main .mainBox article .mainPage .imgBox li:nth-of-type(8) .imgLink:hover .m2, html body main .mainBox article .mainPage .imgBox li:nth-of-type(8) .imgLink:active .m2, html body main .mainBox article .mainPage .imgBox li:nth-of-type(8) .imgLink.active .m2 {
  animation: mainImgHover_8-2 5s linear 0s infinite;
}
html body main .mainBox article .mainPage .imgBox li:nth-of-type(8) .imgLink:hover .m2::before, html body main .mainBox article .mainPage .imgBox li:nth-of-type(8) .imgLink:active .m2::before, html body main .mainBox article .mainPage .imgBox li:nth-of-type(8) .imgLink.active .m2::before {
  animation: mainImgHover_8-3 5s linear 0s infinite;
}
html body main .mainBox article .mainPage .imgBox li:nth-of-type(8) .imgLink .logo {
  background-position-x: 87.5%;
}
html body main .mainBox article .mainPage .imgBox li:nth-of-type(8) .imgLink .m1 {
  width: 210%;
  padding-bottom: 164%;
  background: url("../imgaes/mainImg/mainImg_8-1.png") no-repeat;
  background-size: 100%;
  top: 38%;
  left: -25%;
  z-index: 2;
}
html body main .mainBox article .mainPage .imgBox li:nth-of-type(8) .imgLink .m1::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: url("../imgaes/mainImg/mainImg_8-1.png") no-repeat;
  opacity: 0;
}
html body main .mainBox article .mainPage .imgBox li:nth-of-type(8) .imgLink .m2 {
  width: 280%;
  padding-bottom: 169%;
  background: url("../imgaes/mainImg/mainImg_8-2.png") no-repeat;
  background-size: 100%;
  top: 13%;
  left: -75%;
}
html body main .mainBox article .mainPage .imgBox li:nth-of-type(8) .imgLink .m2::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: url("../imgaes/mainImg/mainImg_8-2.png") no-repeat;
  opacity: 0;
}
html body main .mainBox article .mainPage .imgBox li .img {
  width: 100%;
  height: 100%;
  background: url("../imgaes/mainImg/mainImgBox.png") no-repeat;
  background-size: 900%;
  position: absolute;
  top: 0px;
  left: 0px;
}
html body main .mainBox article .mainPage .imgBox li .imgLink {
  display: block;
  width: 100%;
  height: 90%;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
html body main .mainBox article .mainPage .imgBox li .imgLink:hover .mask, html body main .mainBox article .mainPage .imgBox li .imgLink:active .mask, html body main .mainBox article .mainPage .imgBox li .imgLink.active .mask {
  height: 100%;
  opacity: 1;
}
html body main .mainBox article .mainPage .imgBox li .imgLink:hover button, html body main .mainBox article .mainPage .imgBox li .imgLink:active button, html body main .mainBox article .mainPage .imgBox li .imgLink.active button {
  opacity: 1;
  transition-delay: 0.3s;
  transform: translateX(-50%) rotate(90deg);
}
html body main .mainBox article .mainPage .imgBox li .imgLink .logo {
  width: 83.3%;
  height: 0px;
  padding-bottom: 37%;
  background: url("../imgaes/mainImg/mainImgLogo.png") no-repeat;
  background-size: 900%;
  position: absolute;
  top: 7%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 3;
}
html body main .mainBox article .mainPage .imgBox li .imgLink .innerImg {
  position: absolute;
  height: 0px;
}
html body main .mainBox article .mainPage .imgBox li .imgLink .mask {
  opacity: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0%;
  bottom: 0%;
  background: #000000b3;
  z-index: 4;
  transition: 0.3s all;
}
html body main .mainBox article .mainPage .imgBox li .imgLink button {
  opacity: 0;
  position: absolute;
  left: 55%;
  transform: translateX(-100%) rotate(90deg);
  bottom: 45%;
  width: 55%;
  height: 26%;
  background: #fff;
  z-index: 5;
  background: url("../imgaes/rightIconBox.png") no-repeat;
  background-size: 100%;
  background-position-y: 100%;
  transition: 0.3s all;
  font-weight: bold;
  font-size: 24px;
  color: #000000;
}
html body main .mainBox article .mainPage .imgBox li .imgLink button p {
  font-size: 24px;
  color: #000000;
  transform: translate(10%, 10%) rotate(-90deg);
}
html body main .mainBox article .mainPage .imgBox li .wordLink {
  display: block;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 92%;
  width: auto;
  min-width: 60%;
  height: auto;
  padding: 10px 5px;
  background: #ffffff;
  border: solid 3px #000000;
  color: #7b0000;
  border-radius: 3px;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  box-shadow: 2px 2px 0px 0px #ff00ff;
}
html body main .mainBox .mainBg {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  z-index: -1;
  animation: mainBgSlide 0.6s linear 0s;
  overflow: hidden;
}
html body main .mainBox .mainBg.display {
  display: block;
}
html body main .mainBox .mainBg .img {
  width: 1920px;
  height: 100%;
  -webkit-clip-path: polygon(57% 0, 100% 60%, 100% 90%, 0 85%, 0 0);
          clip-path: polygon(57% 0, 100% 60%, 100% 90%, 0 85%, 0 0);
  background: #ffa200;
  overflow: hidden;
  animation: mainBgClip 1.2s ease-out 0s;
}
html body main .mainBox .mainBg .img div {
  width: 100%;
  height: 100%;
  background: url("../imgaes/mainBG.png") no-repeat;
  background-size: cover;
  margin: 3% 0% 0% 1%;
}
html body footer {
  width: 100%;
  height: auto;
}
html body footer .top {
  width: 100%;
  height: 53px;
  border: solid 1px #000000;
  border-width: 1px 0px;
  background: linear-gradient(to bottom, #f19900 0%, #c37c00 100%);
}
html body footer .top article {
  width: 1480px;
  height: 100%;
  margin: 0px auto;
}
html body footer .top article ul {
  width: auto;
  height: 100%;
  float: left;
}
html body footer .top article ul li {
  display: inline-block;
  width: auto;
  height: 100%;
  text-align: center;
  margin: 0px 10px;
}
html body footer .top article ul li:hover a span, html body footer .top article ul li:active a span, html body footer .top article ul li.active a span {
  animation: wordBox 0.3s ease-out 0s;
  background: url("../imgaes/wordBox_small.png") no-repeat;
  background-size: 100%;
  color: #000000;
}
html body footer .top article ul li a {
  display: block;
  width: 92px;
  height: 100%;
  position: relative;
}
html body footer .top article ul li a span {
  display: block;
  color: #ffffff;
  position: absolute;
  width: 100%;
  height: 47px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 47px;
  font-size: 16px;
  font-weight: bold;
}
html body footer .top article p {
  float: right;
  line-height: 55px;
  color: #ffffff;
  font-size: 14px;
}
html body footer .bottom {
  width: 100%;
  height: 160px;
  position: relative;
}
html body footer .bottom div {
  width: 823px;
  height: 107px;
  background: url("../imgaes/footerBg.png") no-repeat;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
html body footer .bottom div p {
  font-size: 13px;
  font-weight: bold;
  color: #4d2d11;
}
html body footer .bottom div p:nth-of-type(1) {
  padding: 23px 0px 39px;
}
html body .goTop {
  display: none;
  width: 66px;
  height: 86px;
  background: url("../imgaes/goTop.png") no-repeat;
  position: fixed;
  right: 0px;
  bottom: 150px;
}
html body .goTop::before {
  content: "";
  position: absolute;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-color: transparent transparent #ffffff transparent;
  border-width: 0px 12px 15px 12px;
  left: 50%;
  top: 30%;
}
html body .goTop::after {
  content: "";
  position: absolute;
  width: 24px;
  height: 3px;
  background: #ffffff;
  left: 50%;
  top: 53%;
}
html body .bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background: url("../imgaes/background.jpg") no-repeat;
  background-size: cover;
  z-index: -999;
}

@media only screen and (max-width: 1540px) {
  html body header article .bottom ul li {
    width: 100px;
  }
  html body header article .bottom ul li a span {
    width: 100%;
    height: 52px;
    line-height: 52px;
  }
  html body main .mainBox article .mainPage .imgBox li .imgLink button p {
    font-size: 18px;
  }
}
@keyframes wordBox {
  0% {
    transform: translate(-100%, -100%) scale(0);
  }
  80% {
    transform: translate(-50%, -50%) scale(1.2);
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
  }
}
@keyframes bannerWordJump_1 {
  0% {
    opacity: 0;
    transform: scale(3);
  }
  7% {
    opacity: 0;
    transform: scale(3);
  }
  12% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes bannerWordJump_1-2 {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(2);
  }
}
@keyframes bannerWordJump_2 {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  20% {
    opacity: 0;
    transform: translateX(100%);
  }
  25% {
    transform: translateX(-10%);
  }
  33% {
    opacity: 1;
    transform: translateX(0%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}
@keyframes people_1 {
  0% {
    opacity: 0;
    transform: translate(-20%, 100%);
  }
  20% {
    opacity: 0;
    transform: translate(-20%, 100%) rotate(45deg);
  }
  36% {
    opacity: 1;
    transform: translate(0%, 0%) rotate(0deg);
  }
  100% {
    transform: translate(0%, 0%) rotate(0deg);
  }
}
@keyframes people_2 {
  0% {
    opacity: 0;
    transform: translate(20%, 100%);
  }
  20% {
    opacity: 0;
    transform: translate(20%, 100%) rotate(-45deg);
  }
  36% {
    opacity: 1;
    transform: translate(0%, 0%) rotate(0deg);
  }
  100% {
    transform: translate(0%, 0%) rotate(0deg);
  }
}
@keyframes word_1 {
  0% {
    opacity: 0;
    transform: translate(5%, 5%);
  }
  50% {
    opacity: 1;
    transform: translate(0%, 0%);
  }
  100% {
    opacity: 0;
    transform: translate(0%, 0%);
  }
}
@keyframes word_2 {
  0% {
    opacity: 0;
    transform: rotate(90deg);
  }
  20% {
    opacity: 0;
    transform: rotate(90deg);
  }
  36% {
    opacity: 1;
    transform: rotate(0deg);
  }
}
@keyframes word_3 {
  0% {
    opacity: 0;
    transform: translate(-5%, 5%);
  }
  50% {
    opacity: 1;
    transform: translate(0%, 0%);
  }
  80% {
    opacity: 0;
    transform: translate(0%, 0%);
  }
  100% {
    opacity: 0;
    transform: translate(0%, 0%);
  }
}
@keyframes word_4 {
  0% {
    opacity: 0;
    transform: rotate(-90deg);
  }
  20% {
    opacity: 0;
    transform: rotate(-90deg);
  }
  36% {
    opacity: 1;
    transform: rotate(0deg);
  }
}
@keyframes rightHover_1 {
  0% {
    left: 48%;
    transform: translate(-50%, -50%) scale(0.9);
  }
  30% {
    left: 48%;
    transform: translate(-50%, -50%) scale(1.1);
  }
  40% {
    left: 48%;
    transform: translate(-50%, -50%) scale(1);
  }
}
@keyframes rightHover_2 {
  0% {
    transform: translateY(-50%) scale(0.9);
  }
  30% {
    transform: translateY(-50%) scale(1.1);
  }
  40% {
    transform: translateY(-50%) scale(1);
  }
}
@keyframes leftDownload {
  0% {
    transform: scale(0.9);
  }
  30% {
    transform: scale(1.1);
  }
  40% {
    transform: scale(1);
  }
}
@keyframes marqueeJump {
  0% {
    opacity: 0;
    transform: rotate(-30deg);
  }
  3% {
    opacity: 1;
    transform: rotate(-30deg) scale(1.2);
  }
  5% {
    transform: rotate(-30deg) scale(1);
  }
  10% {
    transform: rotate(0deg);
  }
  20% {
    transform: scale(1);
  }
  23% {
    transform: scale(1.1);
  }
  25% {
    transform: scale(1);
  }
  28% {
    transform: scale(1.1);
  }
  30% {
    transform: scale(1);
  }
  33% {
    transform: scale(1.1);
  }
  35% {
    transform: scale(1);
  }
  38% {
    transform: scale(1.1);
  }
  40% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes marqueeSlide_1 {
  0% {
    opacity: 0;
    width: 0%;
  }
  5% {
    opacity: 0;
    width: 0%;
  }
  10% {
    opacity: 1;
    width: 0%;
  }
  20% {
    width: 0%;
  }
  35% {
    width: 96%;
  }
}
@keyframes mainBgSlide {
  0% {
    width: 0%;
  }
  50% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
@keyframes mainBgClip {
  0% {
    -webkit-clip-path: polygon(0% 0, 100% 60%, 100% 62%, 0 2%, 0 0);
            clip-path: polygon(0% 0, 100% 60%, 100% 62%, 0 2%, 0 0);
  }
  50% {
    -webkit-clip-path: polygon(0% 0, 100% 60%, 100% 61%, 0 1%, 0 0);
            clip-path: polygon(0% 0, 100% 60%, 100% 61%, 0 1%, 0 0);
  }
  100% {
    -webkit-clip-path: polygon(57% 0, 100% 60%, 100% 90%, 0 85%, 0 0);
            clip-path: polygon(57% 0, 100% 60%, 100% 90%, 0 85%, 0 0);
  }
}
@keyframes openBtn_1 {
  0% {
    transform: translate(-50%, 0%);
  }
  100% {
    transform: translate(-50%, -10%);
  }
}
@keyframes openBtn_2 {
  0% {
    transform: translate(-50%, 0%);
  }
  100% {
    transform: translate(-50%, -50%);
  }
}
@keyframes mainImgHover_1-1 {
  0% {
    transform: translate(100%, 100%) scale(1);
  }
  10% {
    transform: translate(0%, 0%) scale(1.2);
  }
  20% {
    transform: translate(-50%, -30%) scale(0.7) rotate(45deg);
  }
  30% {
    transform: translate(30%, 10%) scale(1.5) rotate(-20deg);
  }
  50% {
    transform: translate(0%, 0%) scale(1);
  }
  100% {
    transform: translate(0%, 0%) scale(1);
  }
}
@keyframes mainImgHover_1-2 {
  0% {
    transform: translate(-100%, 100%) rotate(-75deg) scale(1);
  }
  10% {
    transform: translate(0%, 0%) rotate(0deg) scale(1.2);
  }
  15% {
    transform: translate(0%, 0%) rotate(0deg) scale(1);
  }
  25% {
    transform: rotate(-15deg) scale(1.2);
  }
  35% {
    transform: rotate(15deg) scale(1.2);
  }
  40% {
    transform: rotate(0deg) scale(1);
  }
}
@keyframes mainImgHover_2-1 {
  0% {
    transform: translate(-50%, -50%) rotate(-60deg) scale(0);
  }
  20% {
    transform: translate(0%, 0%) rotate(0deg) scale(1);
  }
  30% {
    transform: rotate(-15deg) scale(1.2);
  }
  40% {
    transform: rotate(15deg) scale(1.2);
  }
  50% {
    transform: rotate(-15deg) scale(1.2);
  }
  60% {
    transform: rotate(0deg) scale(1);
  }
}
@keyframes mainImgHover_2-2 {
  0% {
    transform: rotate(90deg) scale(0);
  }
  10% {
    transform: rotate(0deg) scale(1.2);
  }
  15% {
    transform: scale(1);
  }
}
@keyframes mainImgHover_3 {
  0% {
    transform: translate(20%, 100%) rotate(-60deg) scale(0);
  }
  10% {
    transform: translate(0%, 0%) rotate(0deg) scale(1.2);
  }
  15% {
    transform: translateY(5%) scale(1.2);
  }
  20% {
    transform: translateY(-5%) scale(1.2);
  }
  25% {
    transform: translateY(5%) scale(1.2);
  }
  30% {
    transform: translateY(-5%) scale(1.2);
  }
  35% {
    transform: translateY(0%) scale(1);
  }
}
@keyframes mainImgHover_4 {
  0% {
    opacity: 0;
    transform: translate(-30%, 0%);
  }
  20% {
    opacity: 1;
    transform: translate(0%, 0%);
  }
}
@keyframes mainImgHover_5 {
  0% {
    opacity: 0;
    transform: translate(-30%, 0%);
  }
  20% {
    opacity: 1;
    transform: translate(0%, 0%);
  }
}
@keyframes mainImgHover_6-1 {
  0% {
    opacity: 0;
    transform: translate(50%, -50%);
  }
  10% {
    opacity: 1;
    transform: translate(0%, 0%);
  }
}
@keyframes mainImgHover_6-2 {
  0% {
    opacity: 0;
    transform: translateY(10%);
  }
  10% {
    opacity: 0;
    transform: translateY(10%);
  }
  20% {
    opacity: 1;
    transform: translateY(0%);
  }
}
@keyframes mainImgHover_7-1 {
  0% {
    opacity: 0;
    transform: translate(-30%, 30%) scale(1);
  }
  10% {
    opacity: 1;
    transform: translate(30%, -30%) scale(1.2);
  }
  20% {
    transform: translate(-10%, -20%) scale(1);
  }
  30% {
    transform: translate(0%, 0%);
  }
}
@keyframes mainImgHover_7-2 {
  0% {
    opacity: 0;
    transform: translateY(10%);
  }
  30% {
    opacity: 0;
    transform: translateY(10%);
  }
  40% {
    opacity: 1;
    transform: translateY(0%);
  }
}
@keyframes mainImgHover_8-1 {
  0% {
    opacity: 0;
    transform: translate(60%, -30%);
  }
  10% {
    opacity: 1;
    transform: translate(0%, 0%);
  }
}
@keyframes mainImgHover_8-2 {
  0% {
    opacity: 0;
    transform: translateX(-60%);
  }
  10% {
    opacity: 0;
    transform: translateX(-60%);
  }
  20% {
    opacity: 1;
    transform: translateX(0%);
  }
}
@keyframes mainImgHover_8-3 {
  0% {
    opacity: 0;
    transform: scale(1);
  }
  20% {
    opacity: 0;
    transform: scale(1);
  }
  30% {
    opacity: 0.5;
    transform: scale(1.2);
  }
  40% {
    opacity: 0;
    transform: scale(1.5);
  }
}
@keyframes mainImgShow_1 {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  20% {
    opacity: 0;
    transform: translateY(100%);
  }
  25% {
    opacity: 1;
    transform: translateY(0%);
  }
  100% {
    opacity: 1;
  }
}
@keyframes mainImgShow_2 {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  25% {
    opacity: 0;
    transform: translateY(100%);
  }
  30% {
    opacity: 1;
    transform: translateY(0%);
  }
  100% {
    opacity: 1;
  }
}
@keyframes mainImgShow_3 {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  30% {
    opacity: 0;
    transform: translateY(100%);
  }
  35% {
    opacity: 1;
    transform: translateY(0%);
  }
  100% {
    opacity: 1;
  }
}
@keyframes mainImgShow_4 {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  35% {
    opacity: 0;
    transform: translateY(100%);
  }
  40% {
    opacity: 1;
    transform: translateY(0%);
  }
  100% {
    opacity: 1;
  }
}
@keyframes mainImgShow_5 {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  40% {
    opacity: 0;
    transform: translateY(100%);
  }
  45% {
    opacity: 1;
    transform: translateY(0%);
  }
  100% {
    opacity: 1;
  }
}
@keyframes mainImgShow_6 {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  45% {
    opacity: 0;
    transform: translateY(100%);
  }
  50% {
    opacity: 1;
    transform: translateY(0%);
  }
  100% {
    opacity: 1;
  }
}
@keyframes mainImgShow_7 {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  50% {
    opacity: 0;
    transform: translateY(100%);
  }
  55% {
    opacity: 1;
    transform: translateY(0%);
  }
  100% {
    opacity: 1;
  }
}
@keyframes mainImgShow_8 {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  55% {
    opacity: 0;
    transform: translateY(100%);
  }
  60% {
    opacity: 1;
    transform: translateY(0%);
  }
  100% {
    opacity: 1;
  }
}